<% id ||= "text-editor" %>
<% upload_url ||= nil %>
<% attribute ||= nil %>
<% value ||= nil %>
<% height_class ||= "h-400px" %>
<% small ||= false %>

<div
  id="<%= id %>"
  data-controller="text-editor"
  data-text-editor-content-value="<%= raw(value).gsub('"', "'") if value.present? %>"
  data-text-editor-upload-url-value="<%= upload_url %>"
  data-text-editor-attribute-value="<%= attribute %>"
  data-text-editor-small-value="<%= small %>"
>
  <div class="position-relative">
    <div class="position-absolute top-0 end-0" style="padding: 12px 20px">
      <i class="fa-solid fs-3 me-2" data-text-editor-target="saveMessageIcon"></i>
      <span class="hidden d-xl-inline" data-text-editor-target="saveMessage"></span>
    </div>
    <div class="<%= height_class %>" data-text-editor-target="quill"></div>
  </div>
</div>