<% id ||= "toast-message" %>
<% type ||= "success" %>
<% color ||= if type.to_s == "success"
                "bg-success"
              else
                type.to_s == "warning" ? "bg-warning" : "bg-danger"
              end
%>
<% data ||= nil %>
<% manual_trigger ||= false %>

<div
  class="toast <%= color %>"
  id="<%= id %>"
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
  data-controller="toast"
  data-toast-manual-value="<%= manual_trigger %>"
  <%= data&.map { |key, value| "data-#{key.to_s.dasherize}=#{value}"}&.join(" ") %>
>
  <div class="flex w-full justify-between">
    <div class="toast-body" data-toast-target="message">
      <%= message %>
    </div>
    <button type="button" class="btn btn-flush btn-color-muted ms-4" data-action="toast#hide" aria-label="Close">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
</div>
