<!-- lib/templates/erb/scaffold/index.html.erb.tt -->
<% content_for :title, "Lista de registros" %>

<% if can? :create, Log %>
  <%= link_to new_log_path, class: "btn btn-success w-[200px] mb-4" do %>
    <i class="fa fa-plus"></i> Nuevo registro
  <% end %>
<% end %>

<div class="card card-body my-4">
  <div class="table-responsive">
    <table class="table table-hover table-striped gs-7">
      <thead>
        <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
          <th class="min-w-100px">Acción</th>
          <th class="min-w-[125px]">Tipo</th>
          <th class="min-w-[125px]">Usuario</th>
          <th class="min-w-100px">Fecha</th>
          <th class="text-end w-[125px]" aria-label="Acciones"></th>
        </tr>
      </thead>
      <tbody>
        <% if @logs.any? %>
          <% @logs.each do |log| %>
            <tr class="h-[60px]">
              <td><%= log.action %></td>
              <td><%= log.loggable_type %></td>
              <td><%= log.user&.name %></td>
              <td><%= log.created_at.strftime("%d-%m-%Y") %></td>
              <td class="text-end pe-4">
                <button
                  type="button"
                  class="btn btn-light btn-active-light-primary dropdown-toggle dropdown-toggle-split ms-4"
                  data-controller="dropdown"
                  data-action="click->dropdown#toggle blur->dropdown#handleBlur"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Acciones
                </button>
                <ul class="dropdown-menu">
                  <li><%= link_to "Ver", log, class: 'dropdown-item' %></li>
                  <li><%= link_to "Editar", edit_log_path(log), class: 'dropdown-item' %></li>
                  <li>
                    <%= link_to "Eliminar",
                      log,
                      class:'dropdown-item',
                      data: { controller: 'delete-button', delete_button_item_name_value: "#{log.loggable_type} ##{log.loggable_id}" }
                    %>
                  </li>
                </ul>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr class="h-px">
          </tr>
          <tr>
            <td colspan="5" class="text-center text-muted">
              <em>No hay datos</em>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
